<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>RM Admin</title>
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="~/Content/css/sb-admin.css" rel="stylesheet" />
    <link href="~/Content/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/Content/Chosen/chosen.min.css" rel="stylesheet" />

</head>

<body id="page-top">
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
        <a class="navbar-brand mr-1" href="@Url.Content("~/Usuario/Index")">Rep.Mundiales</a>
        <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button>
    </nav>

    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="sidebar navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Content("~/Usuario/Index")">
                    <i class="fas fa-users"></i>
                    <span>Usuarios</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Content("~/Servicio/Index")">
                    <i class="fas fa-people-carry"></i>
                    <span>Servicios</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Content("~/Repuesto/Index")">
                    <i class="fas fa-wrench"></i>
                    <span>Repuestos</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Clientes</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                    <a class="dropdown-item" href="@Url.Content("~/Cliente/Index")">
                        <i class="fas fa-street-view"></i>
                        <span>Clientes</span>
                    </a>
                    <a class="dropdown-item" href="@Url.Content("~/Cliente/AgregarVehiculo")">
                        <i class="fas fa-car-side"></i>
                        <span>+Vehículo</span>
                    </a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Content("~/Cliente/AgregarReparacion")">
                    <i class="fas fa-car-crash"></i>
                    <span>Reparaciones</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Logoff", "CerrarSesion")">
                    <i class="fas fa-fw fa-sign-out-alt"></i>
                    <span>Salir</span>
                </a>
            </li>
        </ul>
        <div id="content-wrapper">

            <div class="container-fluid">

                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", @HttpContext.Current.Request.RequestContext.RouteData.Values["controller"])">@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <span> @HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString()</span>
                    </li>
                </ol>
                @RenderBody()

            </div>
            <!-- /.container-fluid -->
            <!-- Sticky Footer -->
            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright © Repuestos Mundiales 2019</span>
                    </div>
                </div>
            </footer>

        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/Content/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/Content/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="~/Content/js/sb-admin.min.js"></script>
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    @RenderSection("scripts", required: false)
</body>

</html>
